body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.page {
  padding: 100px 0;
}

.page-light {
  background-color: #F9F6F1;
}

.page-dark {
  background-color: #212121;
}

.page-light {
  background-color: #F9F6F1;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-item {
  margin-right: 52px;
}

.nav a {
  color: #212121;
  text-decoration: none;
}

.nav-info .nav-item {
  margin-left: 25px;
  margin-right: 25px;
}

.cart {
  background-image: url("../img/shop.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 45px;
  height: 30px;
}

.cart-count {
  background-image: url("../img/back-shop.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 25px;
  display: block;
}

.title-h2 {
  text-align: center;
  font-size: 36px;
}

.btn {
  background-color: #D7B399;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 28px;
}

.btn-xs {
  padding: 8px 28px;
}

.btn-center {
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.btn span {
  margin-right: 15px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 992px) {
  .main-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 992px) {
  .main .sale {
    text-align: center;
  }
}

.main .sale-description {
  font-size: 30px;
  letter-spacing: -0.6px;
}

.main .sale-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
}

.box {
  position: relative;
}

@media (max-width: 992px) {
  .box {
    max-width: 600px;
    margin: 50px auto;
  }
}

.box-price {
  position: absolute;
  right: 0;
  text-align: right;
  top: 30px;
}

.box-price_old {
  font-size: 24px;
  font-weight: 700;
  text-decoration: line-through;
}

.box-price_new {
  font-size: 24px;
  font-weight: 700;
  color: #D84033;
  margin-top: 17px;
}

.box-image {
  width: 100%;
  max-width: 556px;
}

.notice {
  text-align: center;
  color: white;
  padding: 50px 0;
}

.notice-title {
  font-size: 30px;
  text-transform: uppercase;
}

.notice-title span {
  font-weight: 700;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .collection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.collection-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 197px 171px;
}

@media (max-width: 992px) {
  .collection-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.collection-man {
  background-image: url(../img/man.png);
}

.collection-woman {
  background-image: url(../img/woman.png);
}

.collection-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.collection-description {
  font-size: 16px;
  margin-bottom: 30px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.product-title {
  font-weight: 600;
}

.product-price {
  color: #D7B399;
  font-size: 18px;
  font-weight: 700;
}

.product-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  position: relative;
  border: 3px black solid;
}

@media (max-width: 992px) {
  .product-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    margin-bottom: 20px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.footer-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.footer-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list-title {
  font-size: 10px;
  font-weight: 700;
}

.footer-list-item {
  margin-bottom: 10px;
}

.footer-list-link {
  color: #CBCFD4;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  width: 100%;
  height: 100vh;
  background: #000428;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#004e92), to(#000428));
  background: linear-gradient(to right, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  position: relative;
}

.nav-bar {
  position: absolute;
  background-color: #D7B399;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
}

.toggle {
  left: 0;
  -webkit-box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle-menu {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #000000;
  -webkit-transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
          transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  -webkit-transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
          transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
  background-color: white;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  text-align: center;
  padding: 10px 0;
}

.nav-link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=style.css.map */